<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="common_header(title,style,links)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" th:href="@{/assets/favicon.ico}" />

    <!-- Migrate to Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "#212529",
            },
          },
        },
      };
    </script>

    <!-- Keep the Bootstrap Icons for now -->
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.css}"
    />

    <style th:replace="${style}"></style>

    <script th:src="@{/webjars/jquery/3.7.1/jquery.js}"></script>
    <th:block th:replace="${links}" />
    <th:block th:replace="${title}" />
  </head>
</html>
