<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Wavy login form</title>
 <link rel="stylesheet" href="./style.css">

</head>
<body>
    <div class="stars"></div>
    <div class="mountains"></div>
    <div class="trees"></div>
    
    <div class="login-container">
        <h2>Login Warehouse</h2>
        <form>
            <div class="input-group">
                <input type="text" placeholder="Username">
            </div>
            <div class="input-group">
                <input type="password" placeholder="Password">
            </div>
            <div class="blank">
            </div>
            <button type="submit" class="login-btn">Login</button>
            </div>
        </form>
    </div>
       <script src="script.js"></script>
</body>
</html>
